NEXT_PUBLIC_API_URL=http://ec2-23-23-186-243.compute-1.amazonaws.com:1337
NEXT_PUBLIC_SECURE_COOKIES=false
NEXT_PUBLIC_SITE_CODE=pe
NEXT_PUBLIC_LOCALE=en

OFIX_API_BASE_URL=https://api-artics.fuxion.com/api-fuxion
OFIX_USER=usr_External
OFIX_PASSWORD=QkDZAQTM
OFIX_API_KEY=cwBlAGMAcgBlAHQAXwBFAHgAdABlAHIAbgBhAGwA

NEXT_PUBLIC_OFIX_API_BASE_URL=https://api-artics.fuxion.com/api-fuxion
NEXT_PUBLIC_OFIX_USER=usr_External
NEXT_PUBLIC_OFIX_PASSWORD=QkDZAQTM
NEXT_PUBLIC_OFIX_API_KEY=cwBlAGMAcgBlAHQAXwBFAHgAdABlAHIAbgBhAGwA
