:root {
  --color-primary: #c0392b;
  --color-primary-dark: #a93226;
  --color-text: #333333;
  --color-text-light: #666666;
  --color-bg: #ffffff;
  --color-bg-alt: #f8f8f8;
  --color-border: #eaeaea;
  --max-width: 1200px;
  --header-height: 70px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

}


body {
  color: var(--color-text);
  background: var(--color-bg);
  font-family: var(--font-montserrat), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-palmer {
  font-family: var(--font-palmer), cursive;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1.5rem;
}
