.nuestroSecreto {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  line-height: 0;
}

.imageWrapper {
  position: relative;
  width: 60%;
  max-width: 1000px;
  line-height: 0;
}

.waveImage {
  width: 100%;
  height: auto;
  display: block;
}

.cocineroWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 500px;
  line-height: 0;
}

.cocineroImage {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .nuestroSecreto {
    justify-content: center;
    padding: 0;
  }

  .imageWrapper {
    max-width: 100%;
  }
}
