.wrapper {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 60px auto;
}

.wave {
  line-height: 0;
  overflow: hidden;
}

.waveImg {
  display: block;
  width: 100%;
  height: 550px;
  object-fit: fill;
}

.waveImgMobile {
  display: none;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 48px;
}

@media (max-width: 1024px) and (min-width: 481px) {
  .wrapper {
    width: calc(100% + 96px);
    max-width: none;
    margin: 48px -48px;
  }

  .waveImg {
    height: 420px;
  }

  .content {
    padding: 20px 72px;
  }
}

@media (max-width: 718px) {
  .wrapper {
    width: calc(100% + 40px);
    max-width: none;
    margin: 40px -20px;
  }

  .waveImgDesktop {
    display: none;
  }

  .waveImgMobile {
    display: block;
  }

  .waveImg {
    height: 560px;
  }

  .content {
    padding: 24px 28px;
  }
}

@media (max-width: 480px) {
  .waveImg {
    height: 480px;
  }

  .content {
    padding: 16px 12px;
  }
}
